<html>
    <head>
        <title>Ingresar evento</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Por favor ingrese los datos del evento</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                <form method="post"/ingresar 'action'seguido del servidor>
                <label for='Evento'>Nombre del evento</label>
                <textarea rows="1" cols="30" name="Evento" required autofocus>
                </textarea><br>  <br>
                <label for="Descripcion">Descripcion del evento</label>
                <textarea rows="4" cols="60" name="Descripcion">
                </textarea>
                <form method="post" action="{{ url_for('hello') }}">
                <label for="fecha">Fecha del evento</label>
                <input type="date" name="fecha" required><br>  <br>
                <label for="hora">Hora del evento</label>
                <input type="time" name="hora" required>  <br>  <br>
                <label for="Repeticion">Repeticion del evento</label>
                <input type="radio" name="Repeticion" value="Diariamente"required>Diariamente<br>
                <input type="radio" name="Repeticion" value="Semanalmente">Semanalmente<br>
                <input type="radio" name="Repeticion" value="Mensualmente">Mensualmente<br>
                <input type="radio" name="Repeticion" value="Nunca">Nunca<br><br>
                <input type="submit" />
                </form>
                </form>
            </div>
        </div>
    </body>
</html>
 